.nav div{
    border:1px solid red;
}
.nuxt-logo {
    height: 40px;
}
ul {
    list-style: none;
    padding: 0;
}
.nav ul li{
    display: inline-block;  
    margin: 10px 1px;  
}
.nav ul li a{
    background-color: aquamarine;
    padding: 10px 20px;
}

.item{
    border:1px solid rgb(81, 255, 0);
}
.title{
    background-color: aqua;
    padding: 10px;
}
.image img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.link{    
    border: none;
    background-color: aqua;
    cursor: pointer;
}
.category li{
    margin: 5px;
}
a.nuxt-link-active {
    font-weight: bold;
    padding: 10px 20px;
  }
  /* exact link will show the primary color for only the exact matching link */
  a.nuxt-link-exact-active {
    background-color: blue;
    color: #00c58e;
  }
.popup{   
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   min-height: 100vh;
   height: 100%;  
   align-content: center;
   justify-content: center;
   display: grid;
   visibility: hidden;
}
.addon{
    margin: 0 auto;
    max-width: 400px;
    width: 98%;
    background: rgb(0, 166, 231); 
    margin: 5px;    
}
.close{
    width: 30px;
    padding: 5px 0;
    height: 20px;
    text-align: center;
    background-color:#f00;
    color: #fff;
    justify-self: end;
    margin-bottom: 10px;
    cursor: pointer;
}